<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
    window['ga-disable-{{ site.google_analytics }}'] = window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1";
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
</script>

<meta name="naver-site-verification" content="415dfacf8b2476144ee1cad4f5a69104527b6e2a" />
<meta name="msvalidate.01" content="9ED8A91480BAE2DEBD4834F5039BB9C9" />

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "ed802fa7f10e28";
    if(window.wcs) {
        wcs_do();
    }
</script>
