<script src="https://cdn.tailwindcss.com"></script>
<style>
    *, *::before, *::after {
        border-style: solid;
        border-width: 0;
    }
</style>
<script>
    tailwind.config = {
        corePlugins: {
            preflight: false
        },
        theme: {
            extend: {
                colors: {
                    coffee: '#491C92',
                    mykoreamap: '#A0D0E5',
                    spellstart: '#31A740',
                    moza: '#0177F7',
                    awesomeblogs: '#201E20',
                    apptax: '#60D07F'
                }
            }
        }
    }
</script>